<h1>Novedades y títulos más recientes</h1>
<div class="Afuera">
<section class="TextoAbout">
    <h2>El Inmortal Hulk</h2>
    <p>
        Hace mucho tiempo, Rick Jones era el mejor amigo de Hulk. Rick estaba en la zona cero de la explosión de la Bomba Gamma, y Bruce Banner salvó su vida, a cambio de ver la suya alterada para siempre. Luego, vivieron aventuras juntos, sus destinos se separaron, Rick murió... y sigue muerto. Para descubrir por qué, Bruce debe acometer un experimento que también podría suponer un auténtico problema para El Inmortal Hulk.
    </p>
</section>
<aside class="aboutImg">
    <img src="../assets/imagenes/hulk_premiere_4.jpg" alt="...">
</aside>
</div>